.btnspc {
          padding-top: 15px;
        }
.chartspc {
            padding: 25px;
        }
.btn-sm {
          width: 125px;
        }
#info {
        padding-top: 3em;
        font-size: 16px;
        }